@model Bookkeeper.Models.TransactionSummaryViewModel

@{
    ViewData["Title"] = "TransactionCommitted";
}

<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 header-wrapper shadow">
        <h1>Transaction Successfully Committed</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Date & Time</th>
                    <th scope="col">Description</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Credit</th>
                </tr>
            </thead>
            <tbody>
                <!-- Display Journal Header -->
                <tr>
                    <th scope="row">
                        <label style="font-weight: normal;">@Model.JournalHeader.RecordedDateTime</label>
                    </th>
                    <td>
                        <label><i>@Model.JournalHeader.Memo</i></label>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <!-- Display Journal line items -->
                @for (int i = 0; i < Model.LineItems.Count; ++i)
                {
                    <tr>
                        <th scope="row">
                        </th>
                        <td>
                            <label style="font-weight: normal;">@Model.LineItems[i].AccountName</label>
                        </td>
                        <!-- Determine positioning of amount in row -->
                        @if (Model.LineItems[i].DebitAmount != null)
                        {
                            <td>
                                <label style="font-weight: normal;">@(((decimal)Model.LineItems[i].DebitAmount).ToString("C"))</label>
                            </td>
                            <td></td>
                        }
                        else
                        {
                            <td>
                            </td>
                            <td>
                                <label style="font-weight: normal;">@(((decimal)Model.LineItems[i].CreditAmount).ToString("C"))</label>
                            </td>
                        }
                    </tr>
                }
                <!-- Display totals row -->
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>
                        <label style="font-weight: bolder;">@Model.JournalHeader.TotalAmount.ToString("C")</label>
                    </td>
                    <td>
                        <label style="font-weight: bolder;">@Model.JournalHeader.TotalAmount.ToString("C")</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <a class="btn btn-primary text-center" asp-controller="Recording" asp-action="RecordTransaction">Record Another Transaction</a>
    </div>
</div>
